h1{
    text-align: center;
}
h2{
    text-align: center;
    color: blueviolet;
}
h3{
    text-align: center;
    color: brown;
}
img{
    height: 700%;
    width: 30%;
    text-align: center;
}
p{
    text-align: justify;
    border: 20px solid cyan;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
}